*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#000;
  color:#fff;
}

/* ================= HEADER ================= */

header{
  position:sticky;
  top:0;
  background:#000;
  padding:16px 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:1000;
  border-bottom:1px solid #222;
}

.logo{
  font-size:22px;
  font-weight:700;
  color:#f5c542;
}

.menu-btn{
  font-size:26px;
  color:#f5c542;
  cursor:pointer;
  display:block;
}

nav{
  position:fixed;
  top:0;
  right:-100%;
  width:70%;
  height:100vh;
  background:#0d0d0d;
  padding:30px;
  transition:0.4s;
}

nav a{
  display:block;
  margin:20px 0;
  font-size:18px;
  color:#f5c542;
}

nav.active{
  right:0;
}

/* ================= LANGUAGE PAGE ================= */

.lang-box{
  min-height:100vh;
  background:
    linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
    url("https://images.unsplash.com/photo-1606760227091-3dd870d97f1d");
  background-size:cover;
  background-position:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.lang-box h1{
  font-size:34px;
  color:#f5c542;
  margin-bottom:10px;
}

.lang-box p{
  font-size:18px;
  margin-bottom:30px;
}

.lang-btn{
  width:260px;
  padding:16px;
  font-size:18px;
  font-weight:600;
  margin:8px 0;
  background:linear-gradient(135deg,#f5c542,#d4a017);
  border:none;
  border-radius:10px;
}

/* ================= HERO ================= */

.hero{
  min-height:80vh;
  background:
    linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.9)),
    url("https://images.unsplash.com/photo-1604594849809-dfedbc827105");
  background-size:cover;
  background-position:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero h2{
  font-size:38px;
  color:#f5c542;
}

.hero p{
  font-size:20px;
  margin-top:10px;
}

/* ================= FESTIVAL ================= */

.festival{
  font-size:20px;
  color:#f5c542;
  text-align:center;
  margin:20px 0;
}

/* ================= PRODUCT ================= */

.container{
  padding:20px;
}

.product-card{
  background:#121212;
  border-radius:16px;
  padding:25px;
  margin-bottom:20px;
}

.product-card h3{
  font-size:22px;
  color:#f5c542;
}

.product-card p{
  font-size:16px;
  margin:10px 0 15px;
}

button{
  width:100%;
  padding:16px;
  font-size:18px;
  font-weight:700;
  background:linear-gradient(135deg,#f5c542,#d4a017);
  border:none;
  border-radius:10px;
}

/* ================= FORM ================= */

.form-box{
  background:#121212;
  border-radius:18px;
  padding:25px;
}

.form-box h2{
  text-align:center;
  font-size:26px;
  color:#f5c542;
  margin-bottom:20px;
}

input,select{
  width:100%;
  padding:16px;
  margin-bottom:14px;
  font-size:16px;
  border-radius:8px;
  border:none;
}
